@import './media.scss';;
.Studio-parent{
    width: 80% !important;
    margin: auto;
    padding: 160px 0 100px 0 !important;
    .home-header-images{
        img{

        }
    }
 .card-parent{
        display: grid;
        grid-template-columns:1fr 1fr ;
     
        border: 1px solid rgb(50, 50, 50);
        padding: 20px;
        margin: 40px 0;
        @include lg{
            grid-template-columns: 1fr;
            gap: 0;
        }
        h1{
            font-weight: 400;
        }
        img{
            width: 100%;
        }
        p{
            font-size: 15px;
            width: 80%;
        }
    }
    .cards-link{
      
        width: 90%;
        margin: auto;
    }
  

}