@import './media.scss';

.navbar-first-parent {
    border-top: 1px solid rgba(128, 128, 128, 0.202);
    border-bottom: 1px solid rgba(128, 128, 128, 0.202);
    padding: 15px 0;
    margin: 10px 0;


   .nav-bar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .nav-bar{
        .first{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;
            Link{
                text-decoration: none !important;
            }
            li{
                list-style: none;
                margin: 0 10px;
               
            }
            .active{
                transition: 1s;
            }
            .active:hover .drop-down{
                display: block;
                transition: 1s;
            }

            .drop-down{
                transition: 1s;
                display: none;
                padding: 0;
                padding-top: 10px;
            }
        }
    }
   }
    .download{
        
    border: none;
    background: none;
        @include lg{
            margin-left: 48px;
            margin-top: 10px;
        }
    }

}