
@import './media.scss';
.sgaming9-parent{
    width: 80% !important;
    margin: auto;
    padding: 160px 0 100px 0 !important;
    @include lg{
        padding: 80px 0 100px 0 !important;
    }
   
     
        .ceo{
            h1{
                color: rgb(133, 133, 133);
                font-size: 20px;
                font-weight: 400;
                
            }
        }
        .data-parent{
            display: flex;
            align-items: center;
            gap: 30px;
            justify-content: center;
            padding: 40px 0;

            @include lg{
                flex-direction: column;
            }
         
            .data-para{
                border-top: 3px solid #CACAC7 ;
                border-bottom: 3px solid #CACAC7 ;
                p{
                    
                    border-bottom: 1px solid black;
                    color: rgb(133, 133, 133);
                }
            }
            .data-img{
                display: flex;
                img{
                    width: 50%;
                    @include lg{
                        width: 71%;
                    }
                }
            }
        }
    .solution{
        width: 71%;
        margin: auto;
        padding-bottom: 80px ;
        @include lg{
            margin: 0;
            width: 100%;
        }
        img{
            width: 71%;
            @include lg{
                width: 100%;
            }
        }
        h3{
            font-weight: 700;
            font-size: 17px;
            color: rgb(110, 110, 103);
        }
        p{
            color: rgb(110, 110, 103);
            font-weight: 400;
            font-size: 15px;
        }
    }
}